html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

@media (min-width: 768px) {
    .form-signin .col-sm-6 {
        width: 100% !important;
    }
    .form-signin .col-sm-offset-3 {
        margin-left: 0 !important;
    }
}

.form-signin .form-control {
    margin-bottom: 0;
}

.btn-block {
    display: block;
    width: 100%;
}

.form-signin .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

#month_graph {
    position: relative;
}

#month_graph img {
    max-width: 100%;
}

.month_graph_inner {
    position: absolute;
    left: 42px;
    bottom: 7px;
    width: 93%;
    padding: 11px 0;
    background-color: #fff;
}

.month_graph_inner span {
    position: relative;
    display: inline-block;
    margin: 0 87px;
}

.month_graph_inner span:before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 8px;
    width: 1px;
    background-color: #000;
}

.month_graph_inner span.first {
    margin-left: 50px;
}

.month_graph_inner span.last {
    margin-right: 50px;
}

.signal-border {
    height: 310px;
}

.alert {
    margin-bottom: 10px;
}

.captchaRefresh {
    margin-left: 20px;
    width: 20px;
    cursor: pointer;
}

#registrationform-captcha-image {
    cursor: pointer;
}